<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello from Flask</title>

    <link href="/static/app.css" rel="stylesheet">
</head>
<body>

    <h1>Welcome to our API</h1>
    <h3>Please read the following documentation to properly use our API functionality</h3>

    <h5>API functionality</h5>
    <ul>
        <li>Get the catalog</li>
        <li>Create new products</li>
    </ul>
    
</body>
</html>